* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh !important;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  width: 80%;
  height: 80%;
  background-color: white;
  padding: 1rem;
  justify-content: baseline;
  align-items: center;
  border-radius: 20px;
  flex-grow: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

}

.image-con {
  flex: 0.5;
  border-radius: 50px;
}

.sign-up-box {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: end;
  align-items:center ;
  font-weight: bolder;
  gap: 15px;
  margin-bottom: 60px;
  margin-left: 40px;
  padding: 70px;
  font-size: 30px;
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#outlined-basic{
  height: 0.8vh;
  width: 20vw;
  border-radius: 40px;
  border: none;
}

#outlined-basic:hover {
  border: none;
}

.icons {
  color: grey;
  padding: 10px;
}